body{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    background-color: #1f2833;
    color: #c5c6c7;
}
header{
    background-color: #66fcf1;
    color: #1f2833;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
    margin: 0 15px;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    color: #1f2833;
}
main{
    padding: 25px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

article, aside{
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
}
article#home h1{
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 120px;
    color: #66fcf1;
}
article#home p{
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: medium;
    color: #c5c6c7;
    font-weight: lighter;
}
aside#about h2{
    font-size: 40px;
    color: #66fcf1;
}
article#about h3{
    font-size: 20px;
    font-weight: bold;
}
article#about p{
    text-align: justify;
}
article#whatido h2{
    color: #66fcf1;
    font-weight: bolder;
}
article#whatido h3{
    text-align: justify;
    font-weight: bold;
}
article#whatido span{
    font-weight: lighter;
    font-size: 18px;
}
article#orgex h2{
    color: #66fcf1;
}
article#orgex h3{
    font-weight: lighter;
}
article#orgex span{
    font-weight: bold;
}
article, aside, div{
    background-color: #1f2833;
    padding: 25px;
    border: none;
    border-radius: 10px;
    margin-bottom: auto;
    transition: transform 0.3s;
}
h1, h2, h3, p{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
footer{
    background-color: #66fcf1;
    color: #1f2833;
    text-align: center;
    padding: 10px 0;
}
article#contact{
    background-color: #66fcf1;
}
article#contact h2 {
    text-align: justify;
}
article#contact p{
    text-align: justify;
}